<a href="https://colab.research.google.com/github/jedrekf1/PUMjfriska/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split

In [43]:
df = pd.read_csv("/train.csv")

<ipython-input-43-c1f08c8742b4>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/train.csv")

In [4]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3.0,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3.0,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3.0,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [7]:
df.shape

(47201, 28)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47201 entries, 0 to 47200
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        47201 non-null  object
 1   Customer_ID               47201 non-null  object
 2   Month                     47201 non-null  object
 3   Name                      42501 non-null  object
 4   Age                       47201 non-null  object
 5   SSN                       47201 non-null  object
 6   Occupation                47200 non-null  object
 7   Annual_Income             47200 non-null  object
 8   Monthly_Inhand_Salary     40153 non-null  float64
 9   Num_Bank_Accounts         47200 non-null  float64
 10  Num_Credit_Card           47200 non-null  float64
 11  Interest_Rate             47200 non-null  float64
 12  Num_of_Loan               47200 non-null  object
 13  Type_of_Loan              41848 non-null  object
 14  Delay_from_due_date       47200 non-null  float64
 15  Num_of_Delayed_Payment    43922 non-null  object
 16  Changed_Credit_Limit      47200 non-null  object
 17  Num_Credit_Inquiries      46303 non-null  float64
 18  Credit_Mix                47200 non-null  object
 19  Outstanding_Debt          47200 non-null  object
 20  Credit_Utilization_Ratio  47200 non-null  float64
 21  Credit_History_Age        42897 non-null  object
 22  Payment_of_Min_Amount     47200 non-null  object
 23  Total_EMI_per_month       47200 non-null  float64
 24  Amount_invested_monthly   45113 non-null  object
 25  Payment_Behaviour         47200 non-null  object
 26  Monthly_Balance           46597 non-null  object
 27  Credit_Score              47200 non-null  object
dtypes: float64(8), object(20)
memory usage: 10.1+ MB

In [9]:
df.isnull().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                        4700
Age                            0
SSN                            0
Occupation                     1
Annual_Income                  1
Monthly_Inhand_Salary       7048
Num_Bank_Accounts              1
Num_Credit_Card                1
Interest_Rate                  1
Num_of_Loan                    1
Type_of_Loan                5353
Delay_from_due_date            1
Num_of_Delayed_Payment      3279
Changed_Credit_Limit           1
Num_Credit_Inquiries         898
Credit_Mix                     1
Outstanding_Debt               1
Credit_Utilization_Ratio       1
Credit_History_Age          4304
Payment_of_Min_Amount          1
Total_EMI_per_month            1
Amount_invested_monthly     2088
Payment_Behaviour              1
Monthly_Balance              604
Credit_Score                   1
dtype: int64

In [10]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts           float64
Num_Credit_Card             float64
Interest_Rate               float64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date         float64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [13]:
df.drop_duplicates()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3.0,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3.0,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3.0,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47196,0x12a8a,CUS_0x1e91,May,Karen Freifeldn,49,360-54-9119,Media_Manager,70793.38,6103.448333,5.0,...,Standard,138.21,28.256748,21 Years and 0 Months,No,51.125511,306.03853719249,High_spent_Small_value_payments,513.1807847081117,Standard
47197,0x12a8b,CUS_0x1e91,June,Karen Freifeldn,49,360-54-9119,Media_Manager,70793.38_,6103.448333,5.0,...,Standard,138.21,24.568986,21 Years and 1 Months,No,51.125511,584.1397866625634,Low_spent_Medium_value_payments,255.07953523803826,Standard
47198,0x12a8c,CUS_0x1e91,July,NaN,49,360-54-9119,Media_Manager,70793.38,NaN,5.0,...,_,138.21,38.536023,21 Years and 2 Months,No,51.125511,135.0080196335887,High_spent_Large_value_payments,664.211302267013,Standard
47199,0x12a8d,CUS_0x1e91,August,Karen Freifeldn,49,360-54-9119,Media_Manager,70793.38,6103.448333,5.0,...,_,138.21,26.706341,21 Years and 3 Months,No,51.125511,415.2197852461593,Low_spent_Medium_value_payments,423.99953665444235,Standard
47200,0x12a92,CUS_0xc5d1,January,Emmotto,43,028-44-,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.shape

(47201, 28)

In [44]:
df['Age'] = df['Age'].astype(str).str.replace('_', '')

In [45]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Age'] = df['Age'].replace(np.nan, 0, regex=True)
print(df)
print(df.dtypes)

            ID Customer_ID     Month           Name  Age          SSN  \
0       0x1602   CUS_0xd40   January  Aaron Maashoh   23  821-00-0265
1       0x1603   CUS_0xd40  February  Aaron Maashoh   23  821-00-0265
2       0x1604   CUS_0xd40     March  Aaron Maashoh -500  821-00-0265
3       0x1605   CUS_0xd40     April  Aaron Maashoh   23  821-00-0265
4       0x1606   CUS_0xd40       May  Aaron Maashoh   23  821-00-0265
...        ...         ...       ...            ...  ...          ...
99995  0x25fe9  CUS_0x942c     April          Nicks   25  078-73-5990
99996  0x25fea  CUS_0x942c       May          Nicks   25  078-73-5990
99997  0x25feb  CUS_0x942c      June          Nicks   25  078-73-5990
99998  0x25fec  CUS_0x942c      July          Nicks   25  078-73-5990
99999  0x25fed  CUS_0x942c    August          Nicks   25  078-73-5990

      Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0      Scientist      19114.12            1824.843333                  3  ...
1      Scientist      19114.12                    NaN                  3  ...
2      Scientist      19114.12                    NaN                  3  ...
3      Scientist      19114.12                    NaN                  3  ...
4      Scientist      19114.12            1824.843333                  3  ...
...          ...           ...                    ...                ...  ...
99995   Mechanic      39628.99            3359.415833                  4  ...
99996   Mechanic      39628.99            3359.415833                  4  ...
99997   Mechanic      39628.99            3359.415833                  4  ...
99998   Mechanic      39628.99            3359.415833                  4  ...
99999   Mechanic     39628.99_            3359.415833                  4  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0               _            809.98                26.822620
1            Good            809.98                31.944960
2            Good            809.98                28.609352
3            Good            809.98                31.377862
4            Good            809.98                24.797347
...           ...               ...                      ...
99995           _            502.38                34.663572
99996           _            502.38                40.565631
99997        Good            502.38                41.255522
99998        Good            502.38                33.638208
99999        Good            502.38                34.192463

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0       22 Years and 1 Months                     No           49.574949
1                         NaN                     No           49.574949
2       22 Years and 3 Months                     No           49.574949
3       22 Years and 4 Months                     No           49.574949
4       22 Years and 5 Months                     No           49.574949
...                       ...                    ...                 ...
99995   31 Years and 6 Months                     No           35.104023
99996   31 Years and 7 Months                     No           35.104023
99997   31 Years and 8 Months                     No           35.104023
99998   31 Years and 9 Months                     No           35.104023
99999  31 Years and 10 Months                     No           35.104023

      Amount_invested_monthly                 Payment_Behaviour  \
0           80.41529543900253   High_spent_Small_value_payments
1          118.28022162236736    Low_spent_Large_value_payments
2             81.699521264648   Low_spent_Medium_value_payments
3           199.4580743910713    Low_spent_Small_value_payments
4          41.420153086217326  High_spent_Medium_value_payments
...                       ...                               ...
99995       60.97133255718485   High_spent_Large_value_payments
99996       54.18595028760385  High_spent_Medium_value_payments
99997       24.02847744864441   High_spent_Large_value_payments
99998      251.67258219721603    Low_spent_Large_value_payments
99999       167.1638651610451                            !@9#%8

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
99995          479.866228         Poor
99996           496.65161         Poor
99997          516.809083         Poor
99998          319.164979     Standard
99999          393.673696         Poor

[100000 rows x 28 columns]
ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                           int64
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [101]:
df.head()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,Scientist,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,80.415295,Good
1,February,23,Scientist,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,118.280222,Good
2,March,-500,Scientist,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,81.699521,Good
3,April,23,Scientist,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,199.458074,Good
4,May,23,Scientist,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,41.420153,Good

In [47]:
df['Annual_Income'] = pd.to_numeric(df['Annual_Income'], errors='coerce')

In [48]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                           int64
SSN                          object
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [50]:
df['Num_of_Loan']=pd.to_numeric(df['Num_of_Loan'], errors='coerce')

In [52]:
df['Num_of_Delayed_Payment']=pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce')

In [54]:
df['Changed_Credit_Limit']=pd.to_numeric(df['Changed_Credit_Limit'], errors='coerce')

In [57]:
df['Outstanding_Debt']=pd.to_numeric(df['Outstanding_Debt'], errors='coerce')

In [62]:
df['Amount_invested_monthly']=pd.to_numeric(df['Amount_invested_monthly'], errors='coerce')

In [66]:
df['Monthly_Balance']=pd.to_numeric(df['Amount_invested_monthly'], errors='coerce')

In [67]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                           int64
SSN                          object
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [92]:
df= df.drop(['ID','Customer_ID','Name','SSN'],axis = 'columns')

In [72]:
df.groupby('Credit_Score').count()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
Credit_Score,,,,,,,,,,,,,,,,,,,,,
Good,17828,17828,17828,16079,17828,17828,17828,16560,15070,17828,...,17487,17828,17626,17828,16224,17828,17828,16243,17828,16243
Poor,28998,28998,28998,26063,28998,28998,28998,26921,24641,28998,...,28437,28998,28727,28998,26396,28998,28998,26386,28998,26386
Standard,53174,53174,53174,47873,53174,53174,53174,49539,45287,53174,...,52111,53174,52638,53174,48350,53174,53174,48587,53174,48587

In [93]:
df.dtypes

Month                        object
Age                           int64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [78]:
FeaturesToConvert = ['Age', 'Annual_Income',
'Num_of_Loan', 'Num_of_Delayed_Payment',
'Changed_Credit_Limit', 'Outstanding_Debt',
'Amount_invested_monthly', 'Monthly_Balance']

In [94]:
df.isnull().sum()

Month                           0
Age                             0
Occupation                      0
Annual_Income                6980
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                  4785
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       9746
Changed_Credit_Limit         2091
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt             1009
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      8784
Payment_Behaviour               0
Monthly_Balance              8784
Credit_Score                    0
dtype: int64

In [99]:
df['Monthly_Inhand_Salary']= df['Monthly_Inhand_Salary'].fillna(method='pad')

In [112]:
df.isnull().sum()

Month                          0
Age                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary          0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     8784
Payment_Behaviour              0
Monthly_Balance             8784
Credit_Score                   0
dtype: int64

In [102]:
df['Num_of_Loan']= df['Num_of_Loan'].fillna(method='pad')

In [103]:
df['Num_of_Delayed_Payment']= df['Num_of_Delayed_Payment'].fillna(method='pad')

In [104]:
df= df.drop(['Type_of_Loan','Credit_History_Age'],axis = 'columns')

In [106]:
df['Annual_Income']= df['Annual_Income'].fillna(method='pad')

In [109]:
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].fillna(method='pad')

In [111]:
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(method='pad')
df['Outstanding_Debt'] = df['Outstanding_Debt'].fillna(method='pad')

In [113]:
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(method='pad')
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(method='pad')

In [121]:
df['Age'].sort_values()

10365    -500
75049    -500
35504    -500
75044    -500
11227    -500
         ...
13372    8674
82335    8678
35557    8682
82739    8697
71732    8698
Name: Age, Length: 100000, dtype: int64

In [123]:
recordslow = df[df['Age'] < 0]
recordslow.count()
print(recordslow)

          Month  Age    Occupation  Annual_Income  Monthly_Inhand_Salary  \
2         March -500     Scientist      19114.120            1824.843333
113    February -500  Entrepreneur      25546.260            2415.855000
289    February -500      Mechanic      29469.980            2227.831667
340         May -500     Architect      20574.470            1740.539167
560     January -500     Scientist     144546.720           11809.560000
...         ...  ...           ...            ...                    ...
99531     April -500        Lawyer       8974.555             783.879583
99541      June -500     Scientist      34671.150            2637.262500
99762     March -500    Accountant      17818.600            1659.883333
99937  February -500       _______      22620.790            1722.065833
99963     April -500        Lawyer      42903.790            3468.315833

       Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  Num_of_Loan  \
2                      3                4              3          4.0
113                    8                7             14          5.0
289                    7                7             24          5.0
340                    6             1327             14          4.0
560                    0                3              7          2.0
...                  ...              ...            ...          ...
99531                 10                8             28          7.0
99541                  4                3             16          2.0
99762                  4                6             14          1.0
99937                  7                3              9          0.0
99963                  0                4              6          1.0

       Delay_from_due_date  ...  Num_Credit_Inquiries  Credit_Mix  \
2                        3  ...                   4.0        Good
113                     16  ...                   5.0    Standard
289                     50  ...                  11.0         Bad
340                      6  ...                  11.0    Standard
560                     15  ...                   1.0        Good
...                    ...  ...                   ...         ...
99531                   21  ...                   7.0         Bad
99541                   21  ...                   4.0    Standard
99762                   25  ...                   3.0    Standard
99937                   25  ...                   2.0    Standard
99963                   14  ...                   1.0        Good

       Outstanding_Debt Credit_Utilization_Ratio  Payment_of_Min_Amount  \
2                809.98                28.609352                     No
113              758.44                29.711376                    Yes
289             3421.66                30.268411                     NM
340              749.95                29.036164                    Yes
560             1045.11                40.840687                     No
...                 ...                      ...                    ...
99531           1660.14                22.173985                    Yes
99541           1071.97                25.076571                    Yes
99762            301.52                26.398987                     NM
99937            642.46                31.841872                     No
99963           1079.48                30.625298                     No

       Total_EMI_per_month Amount_invested_monthly  \
2                49.574949               81.699521
113             101.328637              300.323232
289              69.685459              125.491768
340              49.348666              139.978562
560             136.988557              573.411590
...                    ...                     ...
99531            30.443262               27.838227
99541            52.337589              104.783142
99762            11.581102               34.980327
99937             0.000000              105.076293
99963            34.975457               31.193919

                      Payment_Behaviour  Monthly_Balance Credit_Score
2       Low_spent_Medium_value_payments        81.699521         Good
113      Low_spent_Small_value_payments       300.323232     Standard
289     High_spent_Small_value_payments       125.491768     Standard
340      Low_spent_Large_value_payments       139.978562     Standard
560     High_spent_Small_value_payments       573.411590     Standard
...                                 ...              ...          ...
99531   Low_spent_Medium_value_payments        27.838227         Poor
99541   High_spent_Small_value_payments       104.783142     Standard
99762  High_spent_Medium_value_payments        34.980327     Standard
99937    Low_spent_Large_value_payments       105.076293     Standard
99963   High_spent_Large_value_payments        31.193919     Standard

[886 rows x 22 columns]

In [124]:
recordshigh = df[df['Age'] > 100]
recordshigh.count()
print(recordshigh)

          Month   Age     Occupation  Annual_Income  Monthly_Inhand_Salary  \
56      January  7580  Media_Manager      131313.40           10469.207759
122       March   181      Scientist       31993.78            2942.148333
219       April   995     Accountant       43070.24            3622.186667
243       April  5079      Scientist       20186.02            1684.168333
288     January  6409       Mechanic       29469.98            2227.831667
...         ...   ...            ...            ...                    ...
99877      June  6476      Scientist      118677.54            9963.795000
99908       May  4808         Writer       87695.34            7337.945000
99913  February  2263  Media_Manager       20059.98            1523.665000
99950      July  1342  Media_Manager       59146.36            4908.863333
99972       May  1753  Media_Manager       16680.35            1528.029167

       Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  Num_of_Loan  \
56                     8                7             15          3.0
122                    6                6              7          2.0
219                    3                3             18          1.0
243                    1                5              1          2.0
288                 1231                7             24          5.0
...                  ...              ...            ...          ...
99877                  4                4              6       -100.0
99908                  2                7              7          0.0
99913                  8                5             12          4.0
99950                  3                6              6          1.0
99972                  1                1              5          4.0

       Delay_from_due_date  ...  Num_Credit_Inquiries  Credit_Mix  \
56                      30  ...                   5.0    Standard
122                      8  ...                   1.0    Standard
219                     11  ...                   4.0    Standard
243                      5  ...                   4.0        Good
288                     53  ...                  11.0           _
...                    ...  ...                   ...         ...
99877                    3  ...                   5.0        Good
99908                    5  ...                   6.0        Good
99913                   25  ...                   3.0        Good
99950                    8  ...                   5.0           _
99972                    1  ...                   8.0        Good

       Outstanding_Debt Credit_Utilization_Ratio  Payment_of_Min_Amount  \
56              1704.18                24.448063                     NM
122              818.22                27.380109                    Yes
219             1233.10                24.331772                    Yes
243              413.32                22.743582                     No
288             3421.66                24.639658                    Yes
...                 ...                      ...                    ...
99877            995.47                38.556181                     No
99908            361.68                28.147193                     No
99913            909.01                25.982154                     No
99950            418.03                38.199635                     No
99972            897.16                37.788217                     No

       Total_EMI_per_month Amount_invested_monthly  \
56               70.478333              162.441009
122              45.141298              264.257089
219              30.576085               74.920375
243              29.534584              104.723834
288              69.685459               59.825596
...                    ...                     ...
99877           237.106366              231.276530
99908         65671.000000              168.798784
99913            45.076827               74.713580
99950            26.778419              502.376320
99972            41.113561               64.549748

                      Payment_Behaviour  Monthly_Balance Credit_Score
56       Low_spent_Large_value_payments       162.441009         Poor
122      Low_spent_Small_value_payments       264.257089     Standard
219    High_spent_Medium_value_payments        74.920375     Standard
243     High_spent_Small_value_payments       104.723834         Good
288                              !@9#%8        59.825596     Standard
...                                 ...              ...          ...
99877   High_spent_Large_value_payments       231.276530         Good
99908   High_spent_Large_value_payments       168.798784     Standard
99913   High_spent_Small_value_payments        74.713580         Poor
99950    Low_spent_Small_value_payments       502.376320     Standard
99972    Low_spent_Large_value_payments        64.549748     Standard

[1890 rows x 22 columns]

In [132]:
recordsmean = df[df['Age'].between(18,100)]
recordsmean.mean()

<ipython-input-132-4e3c79abfb2a>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  recordsmean.mean()

Age                             34.429817
Annual_Income               180937.012498
Monthly_Inhand_Salary         4258.251809
Num_Bank_Accounts               17.249339
Num_Credit_Card                 22.333836
Interest_Rate                   72.452479
Num_of_Loan                      2.602439
Delay_from_due_date             20.596768
Num_of_Delayed_Payment          30.558786
Changed_Credit_Limit            10.200585
Num_Credit_Inquiries            27.533283
Outstanding_Debt              1386.567254
Credit_Utilization_Ratio        32.314102
Total_EMI_per_month           1394.324834
Amount_invested_monthly        198.332963
Monthly_Balance                198.332963
dtype: float64

In [135]:
df['Month'].groupby(df['Month']).count()

Month
April       12500
August      12500
February    12500
January     12500
July        12500
June        12500
March       12500
May         12500
Name: Month, dtype: int64